*{
    margin: 0px;
}
.header-img{
   height: 80vh;
   background-position: bottom;
}
.btn{
    height: 30px;
    width: auto;
    color: white;
    font-size: 10px;
    background-color: #E55473;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;


}
.image-part{
    padding-bottom: 0px;
    margin-bottom: 0px;
    align-items: end;
}
.header-main{
    display: flex;
    justify-content:space-around;
    flex-direction: row-reverse;
    background-color: rgba(229, 84, 115, 0.10);
    padding-top: 50px;
}
.header-pera{
    color: rgba(39, 39, 39, 0.60);
    font-family: 'Open Sans', sans-serif;
font-size: 10px;
max-width: 300px;
font-style: normal;
padding-top: 30px;
padding-bottom: 30px;


}
.all-text{
  padding: 30px;
  color: rgba(39, 39, 39, 0.60);
 
 font-size: 18px;
}
/* main section editing of feature flower part */
.feature-flower-contain{
    justify-content: center;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
.flower-card{
    height: 200px;
    width: 180px;
    /* background-color:blue; */
    gap: 50px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}
#img1{
    background-color: rgb(241, 208, 241);
}
#img2{
    background-color: rgb(177, 225, 255);
}
#img3{
    background-color:rgb(165, 235, 165);
}
.cards{
    margin: 0px 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
.flower-img{
        height: 150px;
        width: 120px;
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
}

.flower-unerline-text{
    display: flex;
    justify-content: space-around;
}
/* 
flower-sale part editing */

.flower-sale-image{
    height: 150px;

}
.sale-part{
    margin-top: 50px;
    padding: 40px;
    height: 30vh;
    display: flex;
    justify-content: center;
    gap: 50px;
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
}
.sale-contain{
    color: rgba(39, 39, 39, 0.60);
    font-family: 'Open Sans', sans-serif;

max-width: 200px;
font-style: normal;

}
.sale-para{
    max-width: 250px;
    color: rgba(39, 39, 39, 0.60);
    font-family: 'Open Sans', sans-serif;
    font-size: 7px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.sale-header{
    color: black;

}
.red-text{
    color: palevioletred;
}

/* instragram part editing */
.in-img{
 height: 180px;
 width: 150px;
}
   
.instragram-image{
display: flex;
justify-content: space-between;
margin-left: 10%;
margin-right: 10%;
margin-bottom: 50px;
margin-top: 30px;
}
.instragram-part{
    text-align: center;
    margin-top: 50px;
    
}
.instra-pera{
    color: rgba(39, 39, 39, 0.60);
    font-family: 'Open Sans', sans-serif;
    font-size: 7px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
/* last part of the mai section */
.main-last-part{
text-align: center;
background-image: url('Flower Asset/Rectangle\ 9.png');
background-size: cover;
background-repeat: no-repeat;
margin-left: 10%;
margin-right: 10%;
padding-top: 30px;
padding-bottom: 30px;
margin-bottom: 50px;

}
.main-last-div{
    display: flex;
    justify-content: center;
    gap: 30px;
}
#email{
  width: 400px;
   border: none;
   background-position-x: center;
}
#sing-up{
    width: 60px;
}

/* footer part editing */
.footer-part{
    text-align: center;
    background-color: #111010;;
    color: white;
    padding: 30px;
}
.footer-para1{
    font-family: 'Open Sans', sans-serif;
    font-size: 7px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
.footer-para2{
    font-family: 'Open Sans', sans-serif;
    font-size: 7px;
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    padding-bottom: 20px;
}